body {
    background-image: url(../img/new_year_background.png);
}

.logo{
    font-family: 'peralta', cursive;
}

.logo a {
    color rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active{
    text-decoration: none;
}